<IfModule mod_rewrite.c>
    RewriteEngine On
   
    RewriteCond %{SERVER_PORT} 80
    RewriteCond %{HTTP_HOST} !=localhost
    RewriteRule ^(.*)$ https://paytring.com/$1 [R,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
